  .card-header {
    font-family: 'Caveat', cursive;
    color: black;
    text-align: center;
    font-size: 30px;
   }

   .card {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: show;
    text-align: center;
  }
  .card > .img-container > img {
    width: 100%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  button{
    background-color:#41004D;
    color:lavender;
  }
  
  button:hover{
    font-weight: Bold;
  }

