
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');


.Navbar.Brand {
    font-family: 'El Messiri', sans-serif;
    background-color: white;
    width: 170px;
    left: 15px;
    max-height: 90px; 
    font-size: 30px;
  }

  .navbar {
    background-color: white;
  }

  #name{
      font-family: 'El Messiri', sans-serif;
      font-size: 30px;
  }
  
  .navbarNav {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 16px;
    color: black;
    border-bottom: 2px solid black;
    width: auto;
  }

 .nav-link{
  color:black;
 }

