@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  padding-left: 10%;
  background-color: white;
  font-family: 'Nanum Myeongjo', serif;
}

.navbar-brand {
  font-family: 'El Messiri', sans-serif;
  background-color: white;
  width: 170px;
  left: 15px;
  max-height: 90px; 
  font-size: 50px;
}

.navbar {
  border-bottom: 2px solid black;
}

ul {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
}

li {
  font-family: 'Hind Guntur', sans-serif;
  color: black;
  float: left;
  position: relative;
  overflow: hidden;
}

li::after {
  background-color: black;
  content: "";
  width: 0;
  height: 1px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 100%;
}

h1 {
  padding: 9px;

  margin: 0;
  font-size: 30px;
 
  font-family: 'Hind Madurai', sans-serif;
  color: black;
  text-align: left;
}

h2 {
  padding: 9px;

  margin: 0;
  font-size: 50px;

  font-family: 'Hind Madurai', sans-serif;
  color: black;
  text-align: center;
}

h5 {
font-family: 'Hind Madurai', sans-serif;
font-size: 30px;
color: black;
text-align: center;
}

p.contact-body {
  font-family: 'Hind Guntur', sans-serif;
}

