@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


body {
  padding-left: 10%;
  background-color: white;
  font-family: 'Nanum Myeongjo', serif;
}

h1 {
  padding: 9px;

  margin: 0;
  font-size: 30px;
 
  font-family: 'Hind Madurai', sans-serif;
  color: black;
  text-align: left;
}

h2 {
  padding: 9px;

  margin: 0;
  font-size: 50px;

  font-family: 'Hind Madurai', sans-serif;
  color: black;
  text-align: center;
}

h5 {
font-family: 'Hind Madurai', sans-serif;
font-size: 30px;
color: black;
text-align: center;
}



